<div id="footer-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="33" fxLayoutAlign="start center">
        <img class="footer-logo-icon" src="assets/images/amplelogic_logo.jpg" alt="logo">
    </div>

    <div fxFlex="33" fxLayoutAlign="center center" style="text-align: center;">
        <span>Copyrights © 2024 - 2023 Amplelogic | All Rights Reserved.</span>
    </div>

    <div fxFlex="33" fxLayoutAlign="end center" style="text-align: center;">
        <span *ngIf="!isFloatingLoader">v3.1.4</span>
    </div>
</div>
