<div fxLayout="column" style="height: 97vh; width: 100%">
    <!-- Header -->
    <div style="border-bottom: 1px solid #d9d9d9;">
        <app-header></app-header>
    </div>

    <!-- Main Content -->
    <div class="main-content-cotainer" fxLayout="column" fxLayoutAlign="center center">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <div fxLayout="column" class="footer-class">
        <app-footer></app-footer>
    </div>
</div>

<!-- Toaster -->
<div *ngIf="showToast">
    <app-toast [toastList]="list"></app-toast>
</div>

<app-float-screen *ngIf="isStartTriggered"></app-float-screen>